  /* Login */
  html,
  body {
    height: 100%;
    margin: 0;
    background-color: #F6F7F8;
    color: #5F6673;
  }

  /* Login */
  .img-login {
    width: 80%;
    height: auto;
  }

  .form-container {
    max-width: 30rem;
    padding: 1rem;
  }

  .social-icons {
    font-size: 1rem;
    color: #5F6673;
  }

  .font-footer {
    font-size: 10px;
  }

  /* Dashboard Financeiro */
  .body-dashboard {
    color: #1F2937;
  }

  .bg-header {
    background-color: #24C456;
  }

  .input-green {
    border: 2px solid #D5DADF;
  }

  .input-green:hover {
    box-shadow: 0 0 10px rgba(116, 255, 149, 0.631);
    border: 2px solid #24C456;
  }


  .btn-modal-salvar {
    color: #FFFFFF;
    background-color: #24C456;
    transition: background-color 0.3s ease;
  }

  .btn-modal-salvar:hover {
    color: #FFFFFF;
    background-color: #1A9A45;
  }

  .transaction-filter .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #000;
  }

  .transaction-filter .nav-link.active {
    color: #343a40;
  }

  .transaction-item {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .transaction-item:last-child {
    border-bottom: none;
  }

  .transaction-title {
    font-size: 16px;
    font-weight: bold;
  }

  .transaction-date {
    font-size: 12px;
    color: #999;
  }

  .transaction-amount {
    font-size: 16px;
    font-weight: bold;
  }

  .transaction-type {
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
  }

  .transaction-type.receita {
    background-color: #e6f4ea;
    color: #28a745;
  }

  .transaction-type.despesa {
    background-color: #fdecea;
    color: #dc3545;
  }

  .equal-height {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }